/* ISBN Search Box */
.isbn-search-box {
    margin-top: 100px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

/* Screen Icon */
.screen-icon {
    display: inline-block;
    font-size: 70px;
    color: #0455BF;
}

/* ISBN Search Form */
.isbn-search-form {
    margin-top: 50px;
}
.isbn-search-form .search-form__box .search-form__bar {
    width: 350px;
    border: 2px solid #001B48;
}
.isbn-search-form .search-form__box .search-form__bar::placeholder {
    opacity: 1;
    padding: 5px;
}
.isbn-search-form .search-form__box .search-form__icon {
    color: #0455BF;
    opacity: 0.7;
}