/* Book Table */
.book-table {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .12);
    opacity: 0.7;
}

/* Book Table Column */
.book-table .book-table__column-name {
    font-weight: 600;
    height: 35px;
    line-height: 35px;
    padding: 0px 10px;
}
.book-table__column-name:nth-child(1) {
    width: 60px;
}
.book-table__column-name:nth-child(2) {
    width: 500px;
}
.book-table__column-name:nth-child(3) {
    width: 90px;
}
.book-table__column-name:nth-child(4) {
    width: 90px;
}
.book-table__column-name:nth-child(5) {
    width: 110px;
}

/* Book Table Checkbox */
.book-table__checkbox {
    width: 15px;
    height: 15px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: -1px;
}

/* Book Table Row */
.book-table .book-table__row {
    height: 40px;
    line-height: 40px;
    word-break: break-all;
    padding: 0px 10px;
}
