/* Edit Form */
.edit-form {
    width: 100%;
    margin-top: 50px;
    height: 30px;
    line-height: 30px;
}
.edit-form .edit-form__select-box {
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
}
.edit-form .edit-form__button {
    width: 50px;
    height: 23px;
    border: none;
    border-radius: 5px;
    background-color: #4B89DA;
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* Delete Form */
.delete-form {
    margin-top: 150px;
}
.delete-form__submit {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: #D94452;
    color: #fff;
    font-weight: 700;
    box-shadow: 0 0 3px #EC5564;
}
