/* Icon Box */
.icon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}

/* Redirect Icon */
.icon-box .icon-box__redirect {
    max-width: 150px; max-height: 150px;
    opacity: 0.8;
}
