/* Main Layout */
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.main .container {
    display: flex;
    justify-content: center;
}

.main-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contents .main-contents__navigation-title {
    align-self: flex-start;
    margin: 80px 0 0 60px;
    padding-bottom: 15px;
    font-size: 23px;
    border-bottom: 3px solid #173F5F;
}

/* Search Form */
.search-form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-form .search-form__box {
    position: relative;
    text-align: center;
}

.search-form .search-form__bar {
    width: 300px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    padding-left: 40px;
    outline: none;
    transition: 0.3s;
}

.search-form .search-form__bar::placeholder {
    opacity: 0.5;
}

.search-form .search-form__bar:focus {
    border: 1px solid lightgray;
    box-shadow: 0 0 5px #0455BF;
}

.search-form .search-form__bar:focus::placeholder {
    visibility: hidden;
}

.search-form .search-form__icon {
    position: absolute;
    top: 0;
    left: 0;
    color: lightgray;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* Data Table Common */
.data-table .data-table__row {
    height: 40px;
    line-height: 40px;
}
.data-table .data-table__checkbox {
    width: 17px;
    height: 17px;
    margin-top: -1px;
    vertical-align: middle;
}
.data-table__row--hover {
    font-weight: 600;
    color: #fff;
    background-color: #018ABE;
    cursor: pointer;
}

/* Authorization Button */
.authorization-button {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 110px;
    height: 40px;
    border: none;
    background-color: #0F1C33;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 20px 1px rgba(237,237,237,1);
}

/* Paging Numbers */
.paging-numbers {
    margin-top: 50px;
    display: flex;
    /* width: 110px; */
    justify-content: space-around;
}

.paging-numbers .paging-numbers__number {
    border: 1px solid rgba(197, 196, 196, 0.35);
    border-collapse: collapse;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: #02457A;
}

.paging-numbers .paging-numbers__number:hover {
    background-color: #018ABE;
    color: #fff;
    transition: 0.3s;
}

.paging-numbers .paging-numbers__number--clicked {
    background-color: #018ABE;
    color: #fff;
    transition: 0.3s;
}

.paging-numbers .paging-numbers__number a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
}
