@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

/* Pages */
@import "access-admin.css";
@import "details-account.css";
@import "books-all.css";
@import "books-createform.css";
@import "books-searchform.css";
@import "books-detail.css";

body {
    font-family: 'Roboto', sans-serif;
    color: #24292E;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 1100px;
}
