<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="UTF-8">
        <title>CODESQAUD LIBRARY - ADMIN</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
        <script th:src="@{https://kit.fontawesome.com/1099c14a72.js}" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="icon-box">
            <img th:src="@{/images/logo.png}" class="icon-box__redirect"/>
        </div>
        <script type="text/javascript" th:src="@{/js/redirectToAuthorization.js}"></script>
    </body>
</html>
